
/* xs */
.h1 {
  margin-bottom: 1em;
  text-align: center;
  margin: 0 0 20px 0;
  font-size: 4.0rem;
  line-height: 1.2;
  font-weight: 300;
  color: white
}

.h2 {
  text-align: center;
  margin: 0 1rem 20px 1rem;
  font-size: 2.0rem;
  line-height: 1.375;
  font-weight: 300;
  margin-bottom: 1em !important;
  color: black;
}

/* sm */
@media screen and (max-width: 360px) {


/* md */
@media screen and (max-width: 736px) {

}

/* lg */
@media screen and (max-width: 1280px) {

}

/* xl */
@media screen and (max-width: 1680px) {

}

/* ?? why is this here? */
@media screen and (min-width: 1680px) {

}