html {
  font-size: 16px !important;
}

body {
  line-height: 1;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.65;
  background-color: #ffffff;
  color: #000000;
  margin: 0;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  background-color: #005ca8;
  padding: 4em 0 4em 0
}

footer {
  background-color: #24292e;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  padding: 0 2rem
}

h1 {
  margin-bottom: 1em;
  margin-top: 0px;
  text-align: center;
  font-size: 4.0rem;
  line-height: 1.2;
  font-weight: 300;
}

@media screen and (max-width: 360px) {
  html {
    /* font-size: 10pt; */
    font-size: 11pt;
  }
  p {
    font-size: 1rem;
  }
}

@media screen and (min-width: 361) and (max-width: 480px) {
  html {
    min-width: 320px;
  }
}

@media screen and (min-width: 481) and (width: 736px) {
  html {
    font-size: 11pt;
    
    /* font-size: 12pt; */
  }
  p {
    padding: 0 4rem;
  }
}

@media screen and (min-width: 737) and (max-width: 1280px) {
  html {
    /* font-size: 12pt; */
    font-size: 13pt;
  }
  p {
    padding: 0 4rem;
  }
}
/* @media (min-width: 30em) and (max-width: 50em) {
} */
@media screen and (min-width: 1280px) and (max-width: 1680px) {
  html {
    /* font-size: 14pt; */
    font-size: 15pt;
  }
  p {
    padding: 0 11rem;
  }
}
@media screen and (min-width: 1680px) {
  html {
    /* font-size: 14pt; */
    font-size: 15pt;
  }
  p {
    padding: 0 18rem;
  }
}

/* logos */
.logoSocial {
  max-height: 40px
}

.logoWPF {
  max-width: 160px;
}
.logoSilverlight {
  max-width: 80px;
}

.section-white {
  background-color: white;
}

.section-blue {
  background-color: #005ca8;
  color: white;
}



